#context {
    max-width: 960px;
    margin: 0 auto;
    background-color:#F7F2AD;
    padding: 10px;
    opacity: 0.9;
    border: 5px solid #BD9C51; 
    font-family:Tahoma;
            } 
header {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #D18523;
    font-size: 3.3em;
    text-align:right;
    font-family:  Papyrus;  
    border: 5px solid #3F000E;
      }
body {
    background-image: url(C:\Users\tjber\Google Drive\Thomas stuff\BYU-Idaho\2019 Fall\CIT 230\GitHub Repository\toadmaster93.github.io\Student Portal\Images\pexels-photo-631339 L.jpeg);
     }
li {
    font-size: 1.5em;
    list-style-type: square;
   }
h1 {
    font-size:2.5em;

   }
#tjb {
    border-radius: 80%;
    border: 5px solid black; 
    position: absolute;
    left: 190px;;
     }
