body {
     background-color: #376c84;  
     margin: 0 auto;
}
header  {
     background-color: #343631;
     max-width: 960px;
     margin: 0 auto;
     padding: 10px;
     padding-right: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 5px solid #262824;
      }
nav {
    margin: 0 auto;
    max-width: 960px;
    background-color: #ddf3fe;
    border:  5px solid #C9DDE7;
    padding: 10px;
    }
.headings h1 {
	font-size: 3em;
    margin: 0 0 0 17px;
    color: #DA9320;
    text-align: right;
    font-style: italic;
    font-family: 'Carrois Gothic SC', sans-serif;
             }
.motto {
    font-size: 1.5em;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #ddf3fe;
       }
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #87ceed;
    border: 5px solid #6FA9C2;
    }
h2 {
   text-align: center;
   font-family: Cabin, sans-serif;
   font-size: 2em;
}
footer {
    background-color: #343631;
    border: 5px solid #262824;
    font-family: 'Cabin', sans-serif;
    padding: 10px;
    color:#ddf3fe;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
       }
.contentbox {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #ddf3fe;
    border: 2px solid #C9DDE7;
    font-family: 'Cabin', sans-serif;
            }

    