@media only screen and (min-width: 64em) {
    header {
        padding-left: 180px;
    }    
    header h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2em;
        margin: 0 0 0 17px;
        color: #2D3142;
    }
    nav {
        margin: 0 auto;
        background-color: #bd9c51;
        padding: 10px;
        padding-left: 170px;
        }
    .button{
            text-align: center;
            padding:20px;
        }
    button {
        display: inline-block;
        font-size: 1em;
    }
    #img1 {
     padding-right: 150px;
    }
    #SLTimg {
    padding: 15px;
    max-width: 410px;
    display: block;
    float: left;
}
  #STL {
    padding: 18px;
    max-width: 120px;
    display: inline-block;
    align-content: center;
  }

   
}