@media only screen and (min-width: 64em) {
    header {
        padding-left: 180px;
    }    
    nav {
        margin: 0 auto;
        background-color: #bd9c51;
        padding: 10px;
        padding-left: 170px;
        }
    .button{
            text-align: center;
            padding:20px;
        }
    button {
        display: inline-block;
        font-size: 1em;
    }
    #img1 {
     padding-right: 150px;
    }

}