@media only screen and (min-width: 32em) {
    nav {
		margin: 0 auto;
		background-color: #bd9c51;
		padding: 10px;
		}
    nav button {
		display: none;
	}
	nav ul {
		margin-left: 2%;
    }
    nav li {
        display:inline-block;
    }
	nav ul li {
		float: center;
	}
	nav ul li a {
		border: none;
		padding: .8rem 1rem;
	}




}